.catalogue__main--page {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #828282; 
    margin: 0;
    margin-bottom: 30px;
}

.catalogue__face {
    margin-bottom: 40px;
    display: flex;
    align-items: center; 
}

.catalogue__face__heading {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    max-width: 617px;
    width: 100%;
    color: #2B2A28;
    margin: 0;
}

.catalogue__face__form {
    margin-left: 133px;
    position: relative;
}

.catalogue__face__form::before {
    position: absolute;
    content: url(../../images/catalogue-images/иконка.png);
    transform: translateX(-150%);
}

.catalogue__face__form::after {
    position: absolute;
    content: url(../../images/catalogue-images/Vector34.png); 
    transform: translateX(-47%);
    top: 100%;
} 

.catalogue__face__input {
    cursor: pointer;
    border: none;
}

// Catalogue-hero

.catalogue-hero {
    display: flex;
    justify-content: space-between;
}

.catalogue-hero__info {
    max-width: 270px;
    width: 100%;
}

.catalogue-hero__info__accordion {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #2B2A28;
    cursor: pointer;
    margin-bottom: 24px;
    padding: 20px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.catalogue-hero__info__accordion:hover {background-color: transparent}

.catalogue-hero__info__accordion:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.catalogue-hero__info__accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.catalogue-hero__info__panel {
    margin: 0;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.catalogue-hero__info__heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    max-width: 230px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #2B2A28;
}

.catalogue-hero__info__list {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #2B2A28; 
    max-width: 210px;
    width: 100%; 
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style-type: none;
    background: #FFFFFF;
}

.catalogue-hero__info__item {
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;  
    margin-left: 18px;  
    color: #2B2A28;
    cursor: pointer;
}

.catalogue-hero__info__item::before {
    content: url(../../images/catalogue-images/Vector16.png);
    position: absolute;
    transform: translateX(-250%); 
}

.catalogue-hero__info__item:hover {
    font-weight: bold;
    color: #da9137;
}

.catalogue-hero__info__panel--active {
    padding: 0;
}

.catalogue-hero__info__list--active {
    position: relative;
    max-width: 240px;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 42px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


.catalogue-hero__info__list--active::before {
    position: absolute;
    content: url(../../images/catalogue-images/Rectangle39.png);
    transform: translateY(-30px);
}

.catalogue-hero__info__item--active {
    margin: 0;
    padding: 0;
}

.catalogue-hero__info__item--active::before {
    position: absolute;
    content: url(../../images/catalogue-images/Ellipse570.png);
    transform: translateY(-75%);
}


.catalogue-hero__main {
    display: flex;
    flex-wrap: wrap;
}

.catalogue-hero__main__card {
    max-width: 270px;
    width: 100%;
    height: 397px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    margin-left: auto;
    margin-bottom: 35px;
    padding: 6px;
    padding-bottom: 26px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 0px 40px 0px 0px;
}

.catalogue-hero__main__card:hover {
    background-color: white;
    box-shadow: 0 0 #666;
    transform: translateY(4px);
}

.catalogue-hero__main__card--picture {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.catalogue-hero__main__card--heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    max-width: 217px;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    padding-left: 15px;
    color: #2B2A28;
}

.catalogue-hero__main__card--image {
    margin: 0;
    margin-bottom: 24px;
    margin-left: 15px;
    padding: 0;    
}

.catalogue-hero__main__card--button {
    margin-left: 15px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    @include mini-button
}

.catalogue-hero__main__card--button:active {
    background-color: white;
    box-shadow: 2px 1px#666;
    transform: translateY(2px)
}


.catalogue-hero__main__card--paragraph {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #2B2A28;
    cursor: pointer;
    margin: 0;
    margin-left: 15px;
}

// Catalogue-help

.catalogue-help {
    position: relative;
    max-width: 865px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-bottom: 35px;
    padding: 54px 58px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 0px 40px 0px 0px;
}

.catalogue-help__info__heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    max-width: 395px;
    width: 100%;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    color: #2B2A28;   
}

.catalogue-help__info__paragraph {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    max-width: 316px;
    width: 100%;
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
    color: #2B2A28;  
}

.catalogue-help__info__button {
    cursor: pointer;
    @include button  
}

.catalogue-help__info__button:active {
    background-color: white;
    box-shadow: 2px 1px#666;
    transform: translateY(2px)
}


.catalogue-help__info__image {
    position: absolute;
    top: 100%;
    bottom: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

.catalogue-help__info__button--info {
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6e6b67; 
    cursor: pointer;  
    display: block;
    max-width: 865px;
    width: 100%;
    margin-left: auto;
    padding: 21px 328px;
    align-items: center;
    background: #FFFBF7;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

.catalogue-help__info__button--info:active {
    background-color: white;
    box-shadow: 0 0 #666;
    transform: translateY(2px);
}

.catalogue-help__info__button--info:hover {
    background-color: rgb(177, 176, 176);
}

.catalogue-help__info__button--info::before {
    content: url(../../images/catalogue-images/Group11.png);
    position: absolute;
    transform: translateX(-150%);
}


